/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  width: 30%;
  display: block;
  height: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn-modal-ok{
    float: right;
}

.icon-success{
    content: url('../../../../assets/images/icons-success-modal.svg');
}

.icon-area{
  float: left;
  width: 20%;
  padding: 10px;
  background-color: green;
  height: 100%;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
}
.content-area
{
    float: left;
    width: 80%;
    padding: 10px;
    height: 100%;
    display: grid; 
    grid-template-areas:
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';
}

.header-area
{
    height: 20%;
    grid-area: header;
}

.body-area
{
    height: 60%;
    grid-area: main;
}

.footer-area
{
    height: 20%;
    grid-area: footer;
}