<div #myModal id="myModal" class="modal">
    <div class="modal-content">
        <div class="icon-area" [ngStyle]="{'background-color': (IsError === true) ? 'red' : 'green' }" style="padding: 10px;">
            <span style="margin-top: 50%;" class="icon-success"></span>
        </div>
        <div style="padding: 10px; background-color: white; width: 100%;">
            <span (click)="close()" class="close" style="float: right;">&times;</span>
            <h2 class="title">{{responseTitle}}</h2>
            <p class="msgBody">{{responseMsgeBody}}</p>
            <button kendoButton (click)="close()" class="kendoBtn btn-modal-ok"> OK</button>
        </div>
    </div>
</div>
