<div style="text-align: center; margin-bottom: 10px">
  <h3 style="font-size: 16px; margin-bottom: 2px">Preview</h3>
  <p style="font-size: 13px">Click submit to finish upload</p>
</div>

<kendo-grid [kendoGridBinding]="incidentDataListToSubmit">
  <ng-container *ngFor="let group of groupedColumns">
    <ng-container *ngFor="let nested of group.columns">
      <kendo-grid-column [field]="nested.field" [width]="nested.width">
      </kendo-grid-column>
    </ng-container>
  </ng-container>
</kendo-grid>

<!-- <ng-container *ngFor="let fieldInfo of fieldInfo; index as i">
  <kendo-grid-column
    field="{fieldInfo.propertyDisplayText}"
    [width]="240"
  ></kendo-grid-column>
</ng-container> -->
<!-- 
<kendo-grid
  [kendoGridBinding]="incidentDataListToSubmit"
  style="height: 400px; width: 500px"
>
  <div *ngFor="let fieldInfo of fieldInfo; index as i">
    <kendo-grid-column
      field="{fieldInfo.propertyDisplayText}"
      title="{fieldInfo.propertyDisplayText}"
      [width]="250"
    ></kendo-grid-column>
  </div>
 
</kendo-grid> -->
