<kendo-dialog *ngIf="active" [width]="400" [height]="350" (close)="closeForm()">
  <kendo-dialog-titlebar> Log in </kendo-dialog-titlebar>

  <form novalidate class="k-form" [formGroup]="editForm">
    <div class="field-appearance">
      <kendo-label
        class="required"
        [for]="OrganizationName"
        text="Organization Name"
      ></kendo-label>
      <kendo-formfield>
        <kendo-textbox
          [(ngModel)]="availableAuthToken"
          formControlName="OrganizationName"
          #OrganizationName
          required
        ></kendo-textbox>
        <kendo-formerror>Error: Organization Name is required</kendo-formerror>
      </kendo-formfield>
    </div>
    <div class="field-appearance">
      <kendo-label
        class="required"
        [for]="UserName"
        text="User Name"
      ></kendo-label>
      <kendo-formfield>
        <kendo-textbox
          [(ngModel)]="availableStaffkey"
          formControlName="UserName"
          #UserName
        ></kendo-textbox>

        <kendo-formerror>Error: User Name is required</kendo-formerror>
      </kendo-formfield>
    </div>
    <div class="field-appearance">
      <kendo-label
        class="required"
        [for]="Password"
        text="Password"
      ></kendo-label>
      <kendo-formfield>
        <kendo-textbox
          [(ngModel)]="availableHierarchyKey"
          formControlName="Password"
          #Password
        ></kendo-textbox>

        <kendo-formerror>Error: Password is required</kendo-formerror>
      </kendo-formfield>
    </div>
  </form>
  <p *ngIf="IsSavedKeys" style="color: green">Saved successfully!</p>
  <div class="button-stack">
    <button kendoButton themeColor="primary" (click)="closeForm()">
      Cancel
    </button>
    <button
      class="save-btn"
      kendoButton
      themeColor="primary"
      [disabled]="!editForm.valid"
      (click)="onSave($event)"
    >
      Save
    </button>
  </div>
</kendo-dialog>
