<div class="mainSubmitComponentStaff">
  <div class="submitDetailContainer">
    <div *ngIf="isUploadSuccess; then thenblock; else elseblock"></div>

    <ng-template #thenblock>
      <div class="successImageContainer"></div>
      <div style="text-align: center; margin-bottom: 10px">
        <h1>File upload completed</h1>
      </div>
    </ng-template>

    <ng-template #elseblock>
      <div class="errorImageContainer"></div>
      <div style="text-align: center; margin-bottom: 10px">
        <h1>File Upload Unsuccessful!</h1>
      </div>
    </ng-template>
  </div>

  <div *ngIf="!isUploadSuccess" class="dataSubmitErrorCard">
    <p class="error-txt" style="color: #b3002f; text-align: left"></p>
  </div>
  <div *ngIf="APIErrorList.length > 0">
    <div class="col-sm" style="text-align: right; margin-bottom: 10px">
      <button
        class="btn-error-export"
        kendoButton
        (click)="exportErrors()"
        iconClass="error-export-icon"
      >
        Excel Export
      </button>
    </div>

    <kendo-panelbar [ngClass]="'errorPanel'">
      <kendo-panelbar-item
        title="Errors ({{ APIErrorList.length }})"
        [expanded]="false"
      >
        <ng-template kendoPanelBarContent>
          <div class="custom-template">
            <p
              class="error-list-txt"
              style="color: #b3002f; text-align: left"
              *ngFor="let item of APIErrorList; index as i"
            >
              {{ item.message }}
            </p>
          </div>
        </ng-template>
      </kendo-panelbar-item>
    </kendo-panelbar>
  </div>
</div>
