
<div style="text-align:center; margin-bottom:10px;">
    <h3 style="font-size: 16px; margin-bottom: 2px;">Validate</h3>
    <p style="font-size: 13px;">Validation Summary</p>
</div>
<kendo-grid [formGroup]="dataReview" [kendoGridBinding]="gridData" [style.height.px]="300">
    <kendo-grid-column field="staffCode" title="Staff Code"> </kendo-grid-column>
    <kendo-grid-column field="reportingOfficerCode" title="Reporting Officer Code"> </kendo-grid-column>
    <kendo-grid-column field="staffName" title="Staff Name">
    </kendo-grid-column>
    <kendo-grid-column field="email" title="Email Address"> </kendo-grid-column>
</kendo-grid>
<br/>
<!-- <div *ngIf="errorDataList.length > 0" class="dataListErrorCard" id="elementId"> 
    
    <h3 class="error-count-txt">Errors({{errorDataList.length}})</h3>
    <p class="error-list-txt" style="color: #B3002F; text-align: left;" *ngFor="let item of errorDataList; index as i">
        {{item}}
    </p>
</div> -->
<br/>
<kendo-panelbar>
    <kendo-panelbar-item title="Errors ({{errorDataList.length}})" [expanded]="false">
      <ng-template kendoPanelBarContent>
        <div class="custom-template">
            <p class="error-list-txt" style="color: #B3002F; text-align: left;" *ngFor="let item of errorDataList; index as i">
                {{item}}
            </p>
        </div>
      </ng-template>
    </kendo-panelbar-item>
  </kendo-panelbar>
