
<kendo-grid [formGroup]="dataReview" [kendoGridBinding]="gridData" [style.height.px]="300">
    <kendo-grid-column field="staffCode" title="Staff Code"> </kendo-grid-column>
    <kendo-grid-column field="reportingOfficerCode" title="Reporting Officer Code"> </kendo-grid-column>
    <kendo-grid-column field="staffName" title="Staff Name">
    </kendo-grid-column>
    <kendo-grid-column field="email" title="Email Address"> </kendo-grid-column>
</kendo-grid>
<br/>
<div *ngIf="errorDataList.length > 0" id="elementId" style="border-color:red; border-style: solid;"> 
    <p style="color: red;" *ngFor="let item of errorDataList; index as i">
        {{item}}
    </p>
</div>
