#elementId{
    color: red;
    width: 100%;
    height: 120px;
    overflow-y: scroll;
}

.k-grid, .k-grid .k-button {font-size:14px;}

.dataListErrorCard{
    border-color: #B3002F;
    border-style: solid;
    text-align: left;
    padding-left: 10px;
    border-left-width: 20px;
    border-radius: 5px;
}

.error-list-txt{
    color:#B3002F; 
    text-align: left;
}

.error-count-txt{
    color:#B3002F;
}

/* .k-grid-content .k-grid-edit-row td:focus-within {
    border: solid #0050A0;
    border-width: 2px;
  } */

  tr.gold,
  tr.k-alt.gold {
    border: solid #0050A0;
    border-width: 2px;
  }

  /* .k-grid tbody > tr:hover td:first-child{
    border-left: solid red;
}     
.k-grid tbody > tr:hover td:last-child{
    border-right: solid red;
}     */
/* .k-grid tbody > tr:hover td{
    border-top: solid red;
    border-bottom: solid red;
} */
.k-grid-header .k-header:first-child {
    height: 58px;
}
.k-grid tbody > tr td:first-child{
    border-right-width: 0px;
    height: 58px;
}     
.k-grid tbody > tr td:last-child{
    border-right-width: 0px;
    height: 58px;
}    
.k-grid tbody > tr.k-selected td{
    border-top: solid #E2E2E3;
    border-bottom: solid #E2E2E3;
    height: 58px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0050A0; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0050A0; 
  }