
<div style="margin-left: 20px;">
                <p class="medium-text">Validation Summary</p>
                <ul style="font-size:13px">
                    <li>Total no of records ({{staffDataList.length}})</li>
                    <br/>
                    <li>No of records with zero errors ({{staffDataList.length - errorRowCount}})</li>
                </ul>
                <p class="medium-text">Note : Records will be uploaded only after all errors are cleared</p>
            </div>

<div style="text-align: right; margin-top:10px;">
    <button class="errorExportBtn" (click)="exportErrors()" kendoButton iconClass="k-icon k-i-paste-plain-text exportErrBtn"></button>
</div>
<kendo-panelbar>
    <kendo-panelbar-item title="Errors ({{errorDataList.length}})" [expanded]="false">
      <ng-template kendoPanelBarContent>
        <div class="custom-template">
            <p class="error-list-txt" style="color: #B3002F; text-align: left;" *ngFor="let item of errorDataList; index as i">
                {{item.Message}} "{{item.CellValue}}" at row "{{item.RowNo}}" Column "{{item.Column}}" Expected Data Type "{{item.ExpectedDataType}}"
            </p>
        </div>
      </ng-template>
    </kendo-panelbar-item>
  </kendo-panelbar>
  