#elementId{
    color: red;
    width: 100%;
    height: 120px;
    overflow-y: scroll;
}

.k-grid, .k-grid .k-button {font-size:14px; font-family: Graphik;}

.dataListErrorCard{
    border-color: #B3002F;
    border-style: solid;
    text-align: left;
    padding-left: 10px;
    border-left-width: 20px;
    border-radius: 5px;
}

.error-list-txt{
    color:#B3002F; 
    text-align: left;
}

.error-count-txt{
    color:#B3002F;
}

/* .k-grid-content .k-grid-edit-row td:focus-within {
    border: solid #0050A0;
    border-width: 2px;
  } */

  tr.gold,
  tr.k-alt.gold {
    border: solid #0050A0;
    border-width: 2px;
  }