.k-i-close{
    color: #0050a0
}

.window-maximize-btn{
    color: #0050a0;
}

.expandWindowIcon {
    content: url('../../../assets/images/expand-window.svg');
}

.closeWindowIcon {
    content: url('../../../assets/images/close-window.svg');
}

.k-icon-button.k-button-md > .k-button-icon {
    min-width: 14px;
    min-height: 14px;
}

.k-window-title{
    font-size: 20px;
    color: #323250;
}