#elementId {
  color: red;
  width: 100%;
  height: 120px;
  overflow-y: scroll;
}

.dataListErrorCard {
  border-color: #b3002f;
  border-style: solid;
  text-align: left;
  padding-left: 10px;
  border-left-width: 20px;
  border-radius: 5px;
}

.error-list-txt {
  color: #b3002f;
  text-align: left;
}

.error-count-txt {
  color: #b3002f;
}

tr.gold,
tr.k-alt.gold {
  border: solid #0050a0;
  border-width: 2px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dedede;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0050a0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0050a0;
}

.active,
.collapsible:hover {
  background-color: #fff;
}

.custom-template {
  padding-left: 30px;
  text-align: center;
  height: 120px;
  overflow-y: scroll;
}

.k-panelbar > .k-item > .k-link.k-state-selected,
.k-link.k-state-hover,
.k-panelbar > .k-item > .k-link.k-selected,
.k-panelbar > .k-panelbar-header > .k-link.k-state-selected,
.k-panelbar > .k-panelbar-header > .k-link.k-selected {
  background-color: #fff;
}

.totalRecordsCard {
  border-color: #0050a0;
  border-style: solid;
  text-align: left;
  padding-left: 10px;
  border-left-width: 12px;
  border-radius: 5px;
  margin-top: 10px;
  height: 60px;
  margin-top: 7px;
  width: 300px;
}

.totalRecordsCard-txt {
  color: #0050a0;
  text-align: left;
  padding-top: 10px;
  font-weight: bold;
}

.totalRecordsWithNoErrorsCard {
  border-color: #0e723d;
  border-style: solid;
  text-align: left;
  padding-left: 10px;
  border-left-width: 12px;
  border-radius: 5px;
  margin-top: 10px;
  height: 60px;
  margin-top: 7px;
  width: 350px;
}

.totalRecordsWithNoErrorsCard-txt {
  color: #0e723d;
  text-align: left;
  padding-top: 10px;
  font-weight: bold;
}

.errorExportBtn {
  border: none;
  width: 20px;
  height: 20px;
  padding: 10px 15px 10px 15px;
  border-radius: 7px;
  margin-bottom: 5px;
  border-color: white;
}

.error-export-icon {
  content: url("../../../../assets/images/ExcelExport.svg");
  width: 12px;
}

.btn-error-export {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 1px;
  padding-bottom: 3px;
}

.errorPanel {
  border-color: #b3002f;
}
.noErrorPanel {
  border-color: #0e723d;
}

.hierarchyValidateWrapper {
  min-height: 392px;
}
