<div class="hierarchyValidateWrapper">
  <div style="margin-left: 20px" class="validate-step-details">
    <p style="font-size: 20px; font-weight: bold">Validation Summary</p>
    <ul style="font-size: 13px">
      <li>
        Total number of records in upload file ({{hierarchyNodeList.length}})
      </li>
      <li>
        Number of records without errors ({{hierarchyNodeList.length -
        errorRowCount}})
      </li>
    </ul>
    <div class="row" style="display: flex; padding-bottom: 6px">
      <div class="col-sm" style="width: auto">
        <p style="font-size: 13px">
          Note: Records will only be uploaded when there are no errors in the
          uploaded file.
        </p>
      </div>
    </div>
  </div>
  <div
    class="col-sm"
    style="text-align: right; margin-top: 10px; margin-bottom: 10px"
    *ngIf="errorDataList.length > 0"
  >
    <button
      class="btn-error-export"
      kendoButton
      (click)="exportErrors()"
      iconClass="error-export-icon"
    >
      Export Validation Summery
    </button>
  </div>
  <kendo-panelbar
    [ngClass]="errorDataList.length > 0 ? 'errorPanel' : 'noErrorPanel'"
  >
    <kendo-panelbar-item
      [ngClass]="errorDataList.length > 0 ? 'errorPanelTitleTxt' : 'noErrorPanelTitleTxt'"
      title="Errors ({{errorDataList.length}})"
      [expanded]="false"
    >
      <ng-template kendoPanelBarContent>
        <div class="custom-template">
          <p
            class="error-list-txt"
            style="color: #b3002f; text-align: left"
            *ngFor="let Message of errorMessage; index as i"
          >
            {{Message}}
          </p>
        </div>
      </ng-template>
    </kendo-panelbar-item>
  </kendo-panelbar>
</div>
