<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="margin-left: 50px">Data Uploader</span>
  <div class="spacer"></div>
  <div style="margin-right: 50px">
    <button
      kendoButton
      (click)="openForm()"
      style="background-color: #1976d2; border: none; color: white; padding: 0"
    >
      <span style="height: 20px" id="" class="k-icon k-i-gear"></span>
    </button>
  </div>
</div>

<div class="content" role="main">
  <div class="card-container">
    <a class="card">
      <button
        kendoButton
        *ngIf="!staffWizardOpened"
        (click)="openStaffWizard()"
      >
        Upload Staff
      </button>
    </a>
    <a class="card">
      <button
        kendoButton
        *ngIf="!nodeUploadWindowOpened"
        (click)="openHierarchyWizard()"
      >
        Hierarchy Node Upload
      </button>
    </a>
    <a class="card">
      <button
        kendoButton
        *ngIf="!incidentUpload"
        (click)="incidentUpload = true"
      >
        Incident Upload
      </button>
    </a>
  </div>
</div>

<div
  class="k-overlay"
  *ngIf="staffWizardOpened || nodeUploadWindowOpened"
></div>

<app-modal
  (windowClose)="close($event)"
  #modalc
  *ngIf="staffWizardOpened"
  width="500"
  [windowTitle]="StaffUploadTitle"
>
  <app-wizard (closeModal)="closeModal($event)"></app-wizard>
</app-modal>

<app-modal
  (windowClose)="close($event)"
  #modalc
  *ngIf="nodeUploadWindowOpened"
  width="500"
  [windowTitle]="NodeUploadWizardTitle"
>
  <app-wizard-node-upload
    (closeModal)="closeModal($event)"
  ></app-wizard-node-upload>
</app-modal>

<app-modal
  (windowClose)="close($event)"
  #modalc
  *ngIf="incidentUpload"
  width="500"
  [windowTitle]="IncidentUploadWizardTitle"
>
  <app-incident-wizard (closeModal)="closeModal($event)"></app-incident-wizard>
</app-modal>

<kendo-dialog *ngIf="active" [width]="400" [height]="450" (close)="closeForm()">
  <kendo-dialog-titlebar> Settings </kendo-dialog-titlebar>

  <form novalidate class="k-form" [formGroup]="editForm">
    <kendo-formfield>
      <kendo-label [for]="AuthToken" text="Auth token"></kendo-label>
      <kendo-textbox
        formControlName="AuthToken"
        #AuthToken
        required
      ></kendo-textbox>

      <!-- <kendo-formhint>Auth Token</kendo-formhint> -->
      <kendo-formerror>Error: Auth token is required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="StaffSubscriptionKey"
        text="Staff subscription key"
      ></kendo-label>
      <kendo-textbox
        formControlName="StaffSubscriptionKey"
        #StaffSubscriptionKey
        required
      ></kendo-textbox>

      <!-- <kendo-formhint>Staff Subscription Key</kendo-formhint> -->
      <kendo-formerror
        >Error: Staff subscription key is required</kendo-formerror
      >
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="HierarchySubscriptionKey"
        text="Hierarchy subscription key"
      ></kendo-label>
      <kendo-textbox
        formControlName="HierarchySubscriptionKey"
        #HierarchySubscriptionKey
        required
      ></kendo-textbox>

      <!-- <kendo-formhint>Hierarchy Subscription Key</kendo-formhint> -->
      <kendo-formerror
        >Error: Hierarchy subscription key is required</kendo-formerror
      >
    </kendo-formfield>
  </form>

  <kendo-dialog-actions>
    <p *ngIf="IsSavedKeys" style="color: green">Saved successfully!</p>
    <button
      kendoButton
      style="margin-left: 300px"
      themeColor="primary"
      [disabled]="!editForm.valid"
      (click)="onSave($event)"
    >
      Save
    </button>
  </kendo-dialog-actions>
</kendo-dialog>

<app-modal-response-message
  #modalMessage
  [responseTitle]="responseTitle"
  [responseMsgeBody]="responseBodyMsg"
  [IsError]="isErrorResponse"
>
</app-modal-response-message>
