.wizardexample {
    display: table;
    margin: auto;
    width: 950px;
}
.k-stepper {
    align-self: center;
    color-scheme: default;
}
.k-button.prev {
    margin-right: 16px;
        outline: none;
        border: 2px solid #0050A0;
        background-color: white;
        font-size: 13px;
        border-radius: 30px;
        border-color: #0050A0;
        font-family: Graphik, Regular;
        color:#323250;
        width: 80px;
        height: 30px;
    
}
.k-button {
        margin-right: 16px;
        outline: none;
        border: 2px solid #0050A0;
        background-color: white;
        font-size: 13px;
        border-radius: 30px;
        border-color: #0050A0;
        font-family: Graphik, Regular;
        color:#323250;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 3px;
        padding-bottom: 3px;
    
}
.k-button:hover {
    background-color: #b0b5b9;
    color: black;
  }

.k-form-separator {
    margin-top: 40px;
    
}
.k-buttons-end {
    justify-content: space-between;
    align-content: center;
}
.page {
    align-self: center;
}
.k-form {
    width: 100%;
}
.k-step {
    pointer-events: none;
}

.k-step-indicator-icon{
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'></svg>"); 
}
