:host {
  font-family: "Graphik";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* center */

.new-data-table {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
