.wrapper {
  display: flex;
  justify-content: center;
}
kendo-tabstrip {
  width: 800px;
}

h2 {
  font-size: 4em;
  font-weight: lighter;
}

h2 > span {
  padding-left: 5px;
  font-size: 0.3em;
  vertical-align: top;
}

.k-form {
  display: flex;
  flex-direction: column;
  flex-grow: calc(100);
}

.field-appearance {
  /* display: flex;
  justify-content: space-around; */
}
