.wrapper {
  display: flex;
  justify-content: center;
}
kendo-tabstrip {
  width: 800px;
}

h2 {
  font-size: 4em;
  font-weight: lighter;
}

h2 > span {
  padding-left: 5px;
  font-size: 0.3em;
  vertical-align: top;
}

.k-form {
  display: flex;
  flex-direction: column;
  flex-grow: calc(100);
}

.field-appearance {
  display: flex;
}

.k-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.k-input {
  margin-left: 20px;
  width: 350px;
  height: 35px;
}

.button-stack {
  display: flex;
  justify-content: end;
}

.button-stack > .k-button {
  margin-top: 40px;
  margin-left: 10px;
  /* margin: 0.1rem; */
  border-radius: 100px !important;
  font-size: 30 px !important;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.save-btn {
  background-color: #0050a0 !important;
  color: #fff;
}

.required:after {
  content: " *";
  color: red;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.9fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "labaleName uploaderList ."
    ". . buttons";
}

.labaleName {
  grid-area: labaleName;
}

.uploaderList {
  grid-area: uploaderList;
  padding: 10px;
}

.buttons {
  grid-area: buttons;
}

.k-label {
  font-family: "Graphik";
  font-size: 14px;
}
