<kendo-dialog *ngIf="active" [width]="522" [height]="221" (close)="closeForm()">
  <kendo-dialog-titlebar> Add New File </kendo-dialog-titlebar>
  <div class="wrapper">
    <div class="container">
      <div class="labaleName">
        <label class="k-label required">Data Upload Type</label>
      </div>
      <div class="list">
        <form novalidate class="k-form" [formGroup]="incidentKeyForm">
          <label class="k-radio-label" [for]="Staff">
            <input
              kendoRadioButton
              type="radio"
              [id]="Staff"
              [value]="Staff"
              name="actionsLayout"
            />
            Staff
          </label>
          <label
            style="margin-top: 10px"
            class="k-radio-label"
            [for]="HierarchyNode"
          >
            <input
              kendoRadioButton
              type="radio"
              [id]="HierarchyNode"
              [value]="HierarchyNode"
              name="actionsLayout"
            />
            Hierarchy Node
          </label>
          <label
            style="margin-top: 10px"
            class="k-radio-label"
            [for]="Incident"
          >
            <input
              kendoRadioButton
              type="radio"
              [id]="Incident"
              [value]="Incident"
              name="actionsLayout"
            />
            Incident Upload
          </label>
        </form>
      </div>
      <div class="none"></div>
      <div class="buttons">
        <div class="button-stack">
          <button
            style="height: 35px; width: 86px"
            kendoButton
            themeColor="primary"
            (click)="closeForm()"
          >
            Cancel
          </button>
          <button
            style="height: 35px; width: 86px"
            class="save-btn"
            kendoButton
            themeColor="primary"
            [disabled]="!incidentKeyForm.valid"
            (click)="onSaveIncidentKeys($event)"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</kendo-dialog>

<div class="container">
  <div class="labaleName"></div>
  <div class="uploaderList"></div>
  <div class="buttons"></div>
</div>
