<div class="example">
  <form class="k-form downloadTemplate">
    <div style="margin-left: 100px">
      <p class="txt-data-template">Data Template</p>
      <div class="dropDown">
        <div class="dropdownLabel">Select Work Flow</div>

        <div style="display: flex">
          <div class="example-wrapper">
            <!-- download -->
            <kendo-dropdownlist
              [data]="workFlowListForFilter"
              [filterable]="true"
              textField="workflowName"
              valueField="workflowId"
              [disabled]="disableDropDown"
              [(ngModel)]="selectedWorkFlowId"
              [valuePrimitive]="true"
              [ngModelOptions]="{ standalone: true }"
              (filterChange)="handleFilter($event)"
            >
            </kendo-dropdownlist>
          </div>
        </div>
        <kendo-loader
          *ngIf="loaderForDropDown"
          class="dropDownLoader"
          type="converging-spinner"
          size="small"
        >
        </kendo-loader>
      </div>

      <p></p>
      <p class="small-text">
        To download the data template click the button below.{{
          selectedWorkFlowId
        }}
      </p>
      <button
        kendoButton
        class="button"
        (click)="exportExcel()"
        [disabled]="disableDownlodeButton"
      >
        <kendo-loader *ngIf="loaderVisible" size="small"> </kendo-loader>
        Download Template
      </button>
    </div>
  </form>
  <div class="importFile">
    <app-upload-file [workFlowList]="workFlowListForFilter"></app-upload-file>
  </div>

  <app-modal-response-message
    #modalMessage
    [responseTitle]="'Error'"
    [responseMsgeBody]="apiErrorMsg"
    [IsError]="showApiDetailsError"
  >
  </app-modal-response-message>
</div>
