/* table */
.upload-details-table-wrapper .new-table {
  height: 200px;
  width: 1500px;
}
.upload-details-table-wrapper .headerCustomClass {
  color: #971414;
}

.upload-details-table-wrapper .k-grid th {
  font-family: Graphik;
  font-weight: bold;
  font-size: 20px;
}

/* button */
.upload-details-table-wrapper .txt-icon {
  color: #323250;
  margin-bottom: 0.5rem;
}

.upload-details-table-wrapper .plus-btn {
  margin-top: 0.5rem;
  background-color: #0050a0;
  color: #ffff;
  width: 137px;
  height: 40px;
}
.upload-details-table-wrapper .plus-btn-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.upload-details-table-wrapper .plus-btn-icon {
  margin-right: 0.4rem;
}
.upload-details-table-wrapper .plus-btn-text {
  font-family: Graphik;
  font-size: 16px;
}

.upload-details-table-wrapper .text-div {
  font-family: Graphik;
  color: #323250;
  font-size: 14px;
}

.k-no-data{
  display: flex;
  flex-direction: column;
}