<div class="table">
  <kendo-grid>
    <ng-template kendoGridNoRecordsTemplate>
      <div class="no-data">
        <img
          src="../../../../assets/images/fileImage.svg"
          class="txt-icon"
          alt="fileImage"
        />
        <div class="text-div">
          No Record Have Been Added Yet. Click "Add New" To Get Started
        </div>
        <button
          kendoButton
          class="btn"
          title="Add New"
          (click)="openPasswordModal()"
        >
          <div class="btn-details">
            <img
              src="../../../../assets/images/plusButtonIcon.svg"
              class="btn-icon"
              alt="plus"
            />
            <div class="btn-text">Add New</div>
          </div>
        </button>
      </div>
    </ng-template>
    <kendo-grid-column
      [headerStyle]="{ 'background-color': '#f7f7f9', color: '#525252' }"
      field="ProductID"
      title="File Name"
      [headerClass]="'headerCustomClass'"
    >
    </kendo-grid-column>
    <kendo-grid-column
      [headerStyle]="{ 'background-color': '#f7f7f9', color: '#525252' }"
      field="ProductName"
      title="File Type"
      [headerClass]="'headerCustomClass'"
    >
    </kendo-grid-column>
    <kendo-grid-column
      [headerStyle]="{
        'background-color': '#f7f7f9',
        color: '#525252'
      }"
      field="Category.CategoryName"
      title="Uploaded Date"
      [headerClass]="'headerCustomClass'"
    >
    </kendo-grid-column>
    <kendo-grid-column
      [headerStyle]="{ 'background-color': '#f7f7f9', color: '#525252' }"
      field="UnitPrice"
      title="Uploded By"
      [headerClass]="'headerCustomClass'"
    >
    </kendo-grid-column>
  </kendo-grid>
</div>

<app-password
  *ngIf="modalActive"
  [active]="modalActive"
  (closeCommonModal)="closeCommonModal($event)"
  (mainModalOpen)="openMainModelFromSelct($event)"
></app-password>
