/* table */
.table {
  height: 200px;
  width: 1500px;
}
.headerCustomClass {
  color: #971414;
}

.k-grid th {
  font-family: Graphik;
  font-weight: bold;
  font-size: 20px;
}

/* button */
.txt-icon {
  color: #323250;
  margin-bottom: 0.5rem;
}

.btn {
  margin-top: 0.5rem;
  background-color: #0050a0;
  color: #ffff;
  width: 137px;
  height: 40px;
}
.btn-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-icon {
  margin-right: 0.4rem;
}
.btn-text {
  font-family: Graphik;
  font-size: 16px;
}

.text-div {
  font-family: Graphik;
  color: #323250;
  font-size: 14px;
}
