<div class="wrapper-for-main-table">
  <kendo-grid
      [kendoGridBinding]="gridView"
      kendoGridSelectBy="id"
      [(selectedKeys)]="mySelection"
      [reorderable]="true"
      [resizable]="true"
  
    >
      <ng-template kendoGridToolbarTemplate>
        <kendo-grid-spacer></kendo-grid-spacer>
        <button
          kendoButton
          type="button"
          class="plus-btn"
          title="Add New"
          (click)="openPasswordModal()"
        >
          <div class="plus-btn-details">
            <img
              src="../../../../assets/images/plusButtonIcon.svg"
              class="plus-btn-icon"
              alt="AddRecords"
            />

            <div class="plus-btn-text">Add New</div>
          </div>
        </button>
      </ng-template>
    
      <kendo-grid-column field="fileName" title="File Name" [width]="220">
      </kendo-grid-column>
      <kendo-grid-column field="fileType" title="File Type" [width]="220">
      </kendo-grid-column>
      <kendo-grid-column field="uploadedDate" title="Uploaded Date" [width]="220">
      </kendo-grid-column>
      <kendo-grid-column field="uploadedBy" title="Uploaded By" [width]="220">
      </kendo-grid-column>
      <kendo-grid-column field="id" title="" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem> 
     <div class="table-button-stack">
      <button kendoButton class="view-btn" type="button"> <div class="btn-details">
        <img
          src="../../../../assets/images/viewEye.svg"
          class="btn-icon"
          alt="AddRecords"
        />

        <div class="btn-text">View</div>
      </div></button>
      <button kendoButton class="download-btn" type="button"><div class="btn-details">
        <img
          src="../../../../assets/images/downloadButtonIcon.svg"
          class="btn-icon"
          alt="AddRecords"
        />

        <div class="btn-text">Download</div>
      </div></button>
      <button kendoGridRemoveCommand class="delete-btn" type="button"><div class="btn-details" (click)="tableDeleteButtonClick(dataItem)">
        <img
          src="../../../../assets/images/deleteIcon.svg"
          class="btn-icon"
          alt="AddRecords"
        />

        <div class="btn-text">Delete</div>
      </div></button>
     </div>
      </ng-template>
      </kendo-grid-column>
       
        <!-- <kendo-grid-column field="job_title" title="Job Title" [width]="220">
        </kendo-grid-column>
        <kendo-grid-column field="job_title" title="Job Title" [width]="220">
        </kendo-grid-column>
        <kendo-grid-column
          field="country"
          title="Country"
          [width]="100"
          [class]="{ 'text-center': true }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <img class="flag" [src]="flagURL(dataItem)" [width]="30" />
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="full_name" title="Contact Name" [width]="220">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div
              class="customer-photo"
              [ngStyle]="{ 'background-image': photoURL(dataItem) }"
            ></div>
            <div class="customer-name">{{ dataItem.full_name }}</div>
          </ng-template>
        </kendo-grid-column> -->
    </kendo-grid>
</div>

<app-password
  *ngIf="initiatePasswordModal"
  [active]="modalActive"
  (closeCommonModal)="closeCommonModal($event)"
  (mainModalOpen)="openMainModelFromSelct($event)"
  (initiatePasswordModal)="initiateModal($event)"
></app-password>





<div class="upload-details-table-wrapper">
  <!-- <div class="new-table">
  <kendo-grid>
    <ng-template kendoGridNoRecordsTemplate>
      <div class="k-no-data">
        <img
          src="../../../../assets/images/fileImage.svg"
          class="txt-icon"
          alt="fileImage"
        />
        <div class="text-div">
          No Record Have Been Added Yetp. Click "Add New" To Get Started
        </div>
        <button
          kendoButton
          type="button"
          class="plus-btn"
          title="Add New"
          (click)="openPasswordModal()"
        >
          <div class="plus-btn-details">
            <img
              src="../../../../assets/images/plusButtonIcon.svg"
              class="plus-btn-icon"
              alt="AddRecords"
            />

            <div class="plus-btn-text">Add New</div>
          </div>
        </button>
      </div>
    </ng-template>
    <kendo-grid-column
      [headerStyle]="{ 'background-color': '#f7f7f9', color: '#525252' }"
      field="ProductID"
      title="File Name"
      [headerClass]="'headerCustomClass'"
    >
    </kendo-grid-column>
    <kendo-grid-column
      [headerStyle]="{ 'background-color': '#f7f7f9', color: '#525252' }"
      field="ProductName"
      title="File Type"
      [headerClass]="'headerCustomClass'"
    >
    </kendo-grid-column>
    <kendo-grid-column
      [headerStyle]="{
        'background-color': '#f7f7f9',
        color: '#525252'
      }"
      field="Category.CategoryName"
      title="Uploaded Date"
      [headerClass]="'headerCustomClass'"
    >
    </kendo-grid-column>
    <kendo-grid-column
      [headerStyle]="{ 'background-color': '#f7f7f9', color: '#525252' }"
      field="UnitPrice"
      title="Uploded By"
      [headerClass]="'headerCustomClass'"
    >
    </kendo-grid-column>
  </kendo-grid>
</div> -->
</div>