.modal-content {
    padding: 1.25rem;
    border: none;
    margin-top: 30%;
  
    a {
      color: teal;
    }
  
    .modal-header {
      justify-content: center;
      flex-direction: column;
      border: none;
      text-align: center;
    }
  
    .modal-title {
      width: 100%;
      color: black;
    }
  
    .modal-body {
      font-size: 0.875rem;
    }
  
    .modal-footer {
      border-top: none;
    }
  }

  
// .staffModal {
//     max-width: 900px;
//     margin: 1.75rem auto;
// }

.custom-window-class > .modal-dialog,
.custom-window-class > .modal-dialog > .modal-content {
   width: 900px;
}

.example {
  display: table;
  margin: auto;
  width: 450px;
}
.k-stepper {
  align-self: center;
}
.k-button.prev {
  margin-right: 16px;
}
.k-form-separator {
  margin-top: 40px;
}
.k-buttons-end {
  justify-content: space-between;
  align-content: center;
}
.page {
  align-self: center;
}
.k-primary{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #0050A0;
  border-radius: 30px;
  opacity: 1;
  font-family: Graphik, Regular;
  font-size: 13px;
  
}