


    
<div class="input-group mb-3">
    <div>
        <div class="mb-3">
            <button mat-raised-button color="primary" (click)= "GetBusinessUnitsAndDirectories()">Generate</button>
            <a href="../../assets/Staff_Data_Upload_Template.xls" hidden>Download here</a>
        </div>
    </div>
</div>
    <br/>
    <br/>
    <br/>
<div class="input-group mb-3">
    <div>
        <div class="mb-3">
            <p>Upload Staff Data : </p>
            <input class="form-control" (change)='readExcel($event)' type="file" id="formFile">
        </div>
    </div>
</div>


<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>


