<div style="text-align:center; margin-bottom:10px;">
    <h3 style="font-size: 16px; margin-bottom: 2px;">Review & Submit</h3>
    <p style="font-size: 13px;">Review details and click submit to finish upload</p>
</div>

<kendo-grid [kendoGridBinding]="staffDataListToSubmit" [style.height.px]="300">
    <kendo-grid-column field="staffCode" title="Staff Code"> </kendo-grid-column>
    <kendo-grid-column field="reportingOfficerCode" title="Reporting Officer Code"> </kendo-grid-column>
    <kendo-grid-column field="staffName" title="Staff Name">
    </kendo-grid-column>
    <kendo-grid-column field="email" title="Email Address"> </kendo-grid-column>
</kendo-grid>
<br />
<div *ngIf="showSuccessMsg" class="dataSubmitSuccessCard"> 
    
    <!-- <h3 class="error-count-txt">Errors({{errorDataList.length}})</h3> -->
    <p class="success-txt" style="color: #0e723d; text-align: left;">
        {{responseMessage}}
    </p>
</div>
<div *ngIf="(showErrorMsg && APIErrorList.length === 0)" class="dataSubmitErrorCard"> 
    
    <!-- <h3 class="error-count-txt">Errors({{errorDataList.length}})</h3> -->
    <p class="error-txt" style="color: #B3002F; text-align: left;">
        {{responseMessage}}
    </p>
</div>
<kendo-panelbar *ngIf="APIErrorList.length > 0">
    <kendo-panelbar-item title="Errors ({{APIErrorList.length}})" [expanded]="false">
      <ng-template kendoPanelBarContent>
        <div class="custom-template">
            <p class="error-list-txt" style="color: #B3002F; text-align: left;" *ngFor="let item of APIErrorList; index as i">
                {{item.message}} 
            </p>
        </div>
      </ng-template>
    </kendo-panelbar-item>
  </kendo-panelbar>