.inside-password-box .new-k-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

.inside-password-box .new-k-input {
  margin-left: 20px;
  width: 350px ;
  height: 35px ;
}

.inside-password-box .new-button-stack {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.inside-password-box .new-k-button {
  margin-top: 40px ;
  margin-left: 10px ;
  border-radius: 100px !important;
  font-size: 14px !important;
  padding-left: 9px ;
  padding-right: 9px ;
  padding-top: 3px ;
  padding-bottom: 3px ;
  height: 35px ;
  width: 86px ;
}

.inside-password-box .save-btn {
  background-color: #0050a0 !important;
  color: #fff !important;
}

.inside-password-box .required:after {
  content: " *" ;
  color: red ;
}

.inside-password-box .new-k-form {
  font-size: 13px ;
}

.inside-password-box .k-form-error,
.inside-password-box .k-text-error,
.inside-password-box .k-form-field-error .k-label {
  color: #d51923 ;
  margin-bottom: -22px ;
}
.inside-password-box .new-content {
  height: 0px ;
}

.inside-password-box .customErrorMsg {
  margin-top: 4px ;
  display: flex ;
  font-style: italic ;
  color: #d51923 ;
  margin-bottom: -22px ;
}


.eyeIconIconClass{
  content: url('../../../../assets/images/eye-icon.svg');
}