<kendo-dialog *ngIf="active" [width]="511" [height]="196" (close)="closeForm()">
  <kendo-dialog-titlebar> Password </kendo-dialog-titlebar>
  <div class="wrapper">
    <div class="new-content" #myElement>
      <form novalidate class="new-k-form" [formGroup]="APIPasswordForm">
        <kendo-formfield class="new-k-form-field">
          <kendo-label
            class="required"
            [for]="APIPassword"
            text="API Password"
          ></kendo-label>
          <kendo-textbox
            class="new-k-input"
            [type]="'password'"
            formControlName="APIPassword"
            #AuthToken
            required
            placeholder="Password"
            [clearButton]="true"
            ><ng-template kendoTextBoxSuffixTemplate>
              <button
                type="button"
                kendoButton
                look="clear"
                (click)="toggleVisibility()"
              >
                <img
                  src="../../../../assets/images/eye-icon.svg"
                  class="txt-icon"
                  alt="fileImage"
                />
              </button> </ng-template
          ></kendo-textbox>

          <kendo-formerror style="display: flex"
            >Error: Auth token is required
          </kendo-formerror>
          <div class="customErrorMsg" *ngIf="invalidPassword">
            Error: Invalid Password
          </div>
        </kendo-formfield>
      </form>

      <div class="content">
        <div class="new-button-stack">
          <button
            class="new-k-button"
            type="button"
            kendoButton
            themeColor="primary"
            (click)="closeForm()"
          >
            Cancel
          </button>
          <button
            class="new-k-button save-btn"
            type="button"
            kendoButton
            themeColor="primary"
            [disabled]="!APIPasswordForm.valid"
            (click)="requestsTokenAndOpenSelectModal()"
          >
            <kendo-loader *ngIf="saveButtonloaderVisible" size="small">
            </kendo-loader>
            {{ saveButtonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</kendo-dialog>

<app-select
  [active]="modalActive"
  (closeCommonModal)="closeSelectModal($event)"
  (openModals)="mainModalOpenFromSelect($event)"
></app-select>
