<kendo-dialog *ngIf="active" [width]="511" [height]="196" (close)="closeForm()">
  <kendo-dialog-titlebar> Password </kendo-dialog-titlebar>
  <div class="wrapper">
    <div class="content">
      <form novalidate class="k-form" [formGroup]="incidentKeyForm">
        <kendo-formfield>
          <kendo-label
            class="required"
            [for]="AuthTokenIncident"
            text="API Password"
          ></kendo-label>
          <kendo-textbox
            formControlName="AuthTokenIncident"
            #AuthToken
            required
          ></kendo-textbox>
        </kendo-formfield>
      </form>

      <div class="content">
        <div class="button-stack">
          <button
            style="height: 35px; width: 86px"
            kendoButton
            themeColor="primary"
            (click)="closeForm()"
          >
            Cancel
          </button>
          <button
            style="height: 35px; width: 86px"
            class="save-btn"
            kendoButton
            themeColor="primary"
            [disabled]="!incidentKeyForm.valid"
            (click)="openSelect()"
          >
            <kendo-loader *ngIf="saveButtonloaderVisible" size="small">
            </kendo-loader>
            {{ saveButtonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</kendo-dialog>

<app-select
  [active]="modalActive"
  (closeCommonModal)="closeSelectModal($event)"
  (openModals)="mainModalOpenFromSelect($event)"
></app-select>
