<div class="password-dialog-box">
  <kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar> Password </kendo-dialog-titlebar>

    <div class="inside-password-box">
      <div class="new-content" #myElement>
        <form novalidate class="new-k-form" [formGroup]="APIPasswordForm">
          <kendo-formfield class="new-k-form-field">
            <kendo-label
              class="required"
              [for]="APIPassword"
              text="API Password"
            ></kendo-label>
            <kendo-textbox
              class="new-k-input"
              [type]="'password'"
              formControlName="APIPassword"
              #AuthToken
              required
              placeholder="Password"
              [clearButton]="true"
              ><ng-template kendoTextBoxSuffixTemplate>
                <button
                  type="button"
                  kendoButton
                  look="clear"
                  (click)="toggleVisibility()"
                  iconClass="eyeIconIconClass"
                >
                </button> </ng-template
            ></kendo-textbox>

            <kendo-formerror >Error:Password is required </kendo-formerror>
            <div class="customErrorMsg" *ngIf="invalidPassword && APIPasswordForm.valid">
              Error: Invalid Password
            </div>
          </kendo-formfield>
        </form>

        <div class="content">
          <div class="new-button-stack">
            <button
              class="new-k-button"
              type="button"
              kendoButton
              themeColor="primary"
              (click)="closeForm()"
            >
              Cancel
            </button>
            <button
              class="new-k-button save-btn"
              type="button"
              kendoButton
              themeColor="primary"
              [disabled]="!APIPasswordForm.valid"
              (click)="requestsTokenAndOpenSelectModal()"
            >
              <kendo-loader *ngIf="saveButtonloaderVisible" size="small">
              </kendo-loader>
              {{ saveButtonText }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </kendo-dialog>
</div>


<app-select
  [active]="modalActive"
  (closeCommonModal)="closeSelectModal($event)"
  (openModals)="mainModalOpenFromSelect($event)"
></app-select>
