.wrapper {
  display: flex;
  justify-content: center;
}
kendo-tabstrip {
  width: 800px;
}
.k-form {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "label-one text-box-one"
    "label-two text-box-two"
    "label-three text-box-three";
}

.label-one {
  grid-area: label-one;
}
.label-two {
  grid-area: label-two;
}
.label-three {
  grid-area: label-three;
}
.text-box-two {
  grid-area: text-box-two;
}
.text-box-three {
  grid-area: text-box-three;
}
.text-box-one {
  grid-area: text-box-one;
}

h2 {
  font-size: 4em;
  font-weight: lighter;
}

h2 > span {
  padding-left: 5px;
  font-size: 0.3em;
  vertical-align: top;
}

.k-form {
  display: flex;
  flex-direction: column;
  flex-grow: calc(100);
}

.field-appearance {
  display: flex;
}

.k-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.k-input {
  margin-left: 20px;
  width: 350px;
  height: 35px;
}

.button-stack {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.button-stack > .k-button {
  margin-top: 40px;
  margin-left: 10px;
  /* margin: 0.1rem; */
  border-radius: 100px !important;
  font-size: 30 px !important;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.save-btn {
  background-color: #0050a0 !important;
  color: #fff;
}

.required:after {
  content: " *";
  color: red;
}

.k-form {
  font-size: 13px;
}

.k-form-error,
.k-text-error,
.k-form-field-error .k-label {
  color: #d51923;
  margin-bottom: -22px;
}
.content {
  height: 0px;
}

.customErrorMsg {
  margin-top: 2px;
  display: flex;
  font-style: italic;
  color: #d51923;
  margin-bottom: -22px;
}
