.topNodeLbl{
    padding-top: 8px;
    margin-right: 10px;
}

.Errcard {
    background-color: white;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;

  }
  .card-success{
    text-align: left;
    color: #707070;
  }


  .error-card-p{
    color: #D72B3F;
    text-align: left;
    padding-left: 15px;
    padding-top: 2px;
    padding-right: 15px;
    font-size: 14px;
  }
  .success-card-p{
    color: #0e723d;;
    text-align: left;
    padding-left: 15px;
    padding-top: 2px;
    padding-right: 15px;
    font-size: 14px;
  }