<div class="container" style="margin-top:30px">
    <div class="section" style="padding-bottom: 20px;">
        <div class="wrap" style="display: flex;">
            <input type="checkbox" kendoCheckBox id="disabled" [(ngModel)]="isReLableTopNode" />
            <label class="k-checkbox-label" for="disabled">Rename top node</label>
        </div>
    </div>
    <div class="section">
        <div style="display: flex;">
            <label class="k-checkbox-label" style="padding-top: 8px;margin-right: 10px;" for="disabled">Top Node:</label>
                <kendo-textbox [style.width.px]="300" [(ngModel)]="topNode.description" [disabled]="!isReLableTopNode" placeholder="Top Node Name">
                </kendo-textbox>
                <button kendoButton class="button" (click)="editTopNodeName()">
                    <kendo-loader *ngIf="loaderVisible" size="small"> </kendo-loader>
                    Edit
                </button>
        </div>
        <div *ngIf="showFileSuccessMessage" class="card-success">
            <p style="margin-top: 10px;" class="success-card-p">{{responseMessage}}</p>

        </div>
        <div *ngIf="showErrorMsg" class="Errcard">
            <p class="error-card-p">{{responseMessage}}</p>
        </div>
    </div>
</div>