.wizard {
display: table;
  margin: auto;
  width: 950px;
}
.k-stepper {
  align-self: center;
  color-scheme: default;
}
.k-button.prev {
  margin-right: 16px;
  outline: none;
  border: 2px solid #0050a0;
  background-color: white;
  font-size: 13px;
  border-radius: 30px;
  border-color: #0050a0;
  color: #323250;
}

.nextbtn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.prevbtn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.k-form-separator {
  margin-top: 40px;
}

.page {
  align-self: center;
}
.k-form {
  width: 100%;
}
/* .k-step {
    pointer-events: none;
} */

.myicon1 {
  content: url("../../../../assets/images/file-upload-stepper-disabled.svg");
}
.myicon2 {
  content: url("../../../../assets/images/file-upload-stepper-disabled.svg");
}
.myicon3 {
  content: url("../../../../assets/images/step3-icon-disabled.svg");
}
.myicon4 {
  content: url("../../../../assets/images/step-final-icon-disabled.svg");
}

