<div class="wizard-wrapper">
  <div class="wizardExample">
    <kendo-stepper
      #stepper
      [steps]="steps"
      stepType="full"
      [(currentStep)]="currentStep"
    >
    </kendo-stepper>
    <form class="k-form" [formGroup]="form">
      <app-staff-data
        *ngIf="currentStep === 0"
        [staffUploadData]="currentGroup"
        (newItemEvent)="changeNextButtonBehavior($event)"
        [orgHierarchyId]="orgHierarchyId"
      ></app-staff-data>

      <app-data-list
        *ngIf="currentStep === 1"
        [dataReview]="currentGroup"
        (newItemEvent)="changeNextButtonBehavior($event)"
        (showNextBtnLoader)="changeNextBtnLoaderBehavior($event)"
      ></app-data-list>

      <app-final-step
        *ngIf="currentStep === 2"
        [dataSubmit]="currentGroup"
        (loaderAtSubmitEvent)="changeLoaderBehavior($event)"
        (SubmittedSuccess)="closeWindowAterSubmitSucess($event)"
      >
      </app-final-step>
      <span class="k-form-separator"></span>
      <div class="k-form-buttons k-buttons-end">
        <button
          kendoButton
          id="button-prev"
          class="k-button prev"
          *ngIf="currentStep !== 0"
          (click)="prev()"
        >
          Back
        </button>
        <span class="page"></span>
        <div>
          <button
            [disabled]="nextbtnDisabled"
            id="button-next"
            class="k-button k-primary nextbtn"
            (click)="next()"
            *ngIf="currentStep !== 2"
          >
            <kendo-loader
              *ngIf="nextBtnLoaderVisible || loaderVisible"
              size="small"
            >
            </kendo-loader>

            Next
          </button>
          <button
            kendoButton
            [disabled]="hasApiErrors"
            class="k-button k-primary submitBtn"
            (click)="submit()"
            *ngIf="currentStep === 2"
          >
            <kendo-loader *ngIf="loaderVisible" size="small"> </kendo-loader>
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-modal-response-message
  #errorModal
  [responseTitle]="errorResponseTitle"
  [responseMsgeBody]="errorResponseBody"
  [IsError]="IsError"
  (confirmationStatus)="closeWindow($event)"
>
</app-modal-response-message>
